.posts_sidebar_main_container{
    /* border: 1px solid blue; */
    margin: 0px;
    padding: 0;
}

.posts_sidebar_container{
    /* border: 1px solid red; */
    padding: 35px;
    padding-top: 0px;
}

.posts_search{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.posts_input{
    border-left:none;
    border-right: none;
    border-top: none;
    border-color: rgb(139, 195, 74);
    width: 75%;
    padding: 5px;
    outline: none;
}

.posts_about_me{
    margin-top: 29px;
}

.posts_about_me_heading{
    text-align: left;
}

.posts_my_photo{
    width: 100%;
}

.posts_about_me_text{
    text-align: left;
    color: rgb(141, 139, 139);
    font-size: small;
}

.posts_social_media_main{

}

.posts_social_media_heading{
    text-align: left;
}

.posts_social_media{
    display: flex;
    justify-content: space-around;
    margin-top: 29px;
    width: 65%;
}

.posts_facebook{
    color:rgb(139, 195, 74);
    font-size: 16rem;
    margin: 2px;
    cursor: pointer;
}

.posts_twitter{
    color:rgb(139, 195, 74);
    font-size: 16rem;
    margin: 2px;
    cursor: pointer;
}

.posts_instagram{
    color:rgb(139, 195, 74);
    font-size: 16rem;
    margin: 2px;
    cursor: pointer;
}

.posts_github{
    color:rgb(139, 195, 74);
    font-size: 16rem;
    margin: 2px;
    cursor: pointer;
}

.posts_hackerrank{
    height: 30px;
    border-radius: 50%;
    color:rgb(139, 195, 74);
}